body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* navigation menu */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 230px 0;
}

.site-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

.title-text {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    padding: 15px 35px;

}

/* header */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    display: flex;
    align-items: center;
    padding-left: 220px;
    padding-right: 30px;
    justify-content: space-between;
}

.banner .profile-pic {
    width: 500px;

}

.banner .hello {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.banner .name {
    color: #181818;
    font-size: 52px;
    font-weight: 800;
    margin-top: 5px;
}

.banner .title {
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.banner-content {
    max-width: 585px;
}

/* About Section  */

main {
    margin: 0 auto;
    max-width: 1140px;
}
main section{
    margin-top: 130px;
}

.primary-section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.title-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    max-width: 827px;
    margin-top: 30px;

}

.about-section {
    background-color: #FFF8F3;
    padding: 130px 156px;
    border-radius: 10px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
    margin-top: 30px;
}

.info-title {
    color: #757575;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}

.info-description {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

/* what section  */

.what-sec-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    padding: 30px 150px 50px;

}

.what-section .skill-container {
    display: flex;
    column-gap: 24px;
}

.what-section .skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.what-section .skill-title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 20px;
}

.what-section .skill-description {
    color: #757575;
    font-size: 16px;
    line-height: 28px;

}

.what-section .skill-img {
    display: block;
}