* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1140px;
    max-width: 70%;
    margin: 0 auto;
}

section {
    margin-top: 90px;
}

/* navigation menu */


.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;

}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

.title-text {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    padding: 15px 35px;
    cursor: pointer;

}

.download-btn {
    margin-right: 30px;
}

.contact-btn {
    background: transparent;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
}

/* header */

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left center;
}


.banner {
    display: flex;
    align-items: center;
    padding-left: 200px;
    justify-content: space-between;
}

.banner .hello {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.banner .name {
    color: #181818;
    font-size: 52px;
    font-weight: 800;
    margin-top: 5px;
}

.banner .title {
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.banner-content {
    max-width: 585px;
}

/* About Section  */

.description-item {
    max-width: 802px;
    margin: 0 auto;
    padding: 90px 110px;
}

.primary-section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.title-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-top: 30px;

}

.about-section .container {
    background-color: #FFF8F3;
    border-radius: 10px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
    margin-top: 30px;
}

.info-title {
    color: #757575;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}

.info-description {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

/* what section  */

.what-sec-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    max-width: 635px;
    margin: 30px auto;
}

.what-section .skill-container {
    display: flex;
    column-gap: 24px;
}

.what-section .skill {
    padding: 20px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.what-section .skill-title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 20px;
}

.what-section .skill-description {
    color: #757575;
    font-size: 16px;
    line-height: 28px;

}

.what-section .skill-img {
    display: block;
}

/*summary section*/

.summary-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.summary-container {
    display: flex;
    gap: 70px;
}

hr {
    border: none;
    height: 1px;
    background: #D1D1D1;
}

.summary-column {
    margin-top: 80px;
}

.summary-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
}

.summary-item-company {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}

.summary-item-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 30px;


}

.download-cv {
    text-align: center;
    margin-top: 50px;

}

/* footer  */

footer {
    margin-top: 90px;
    background-color: #FFF8F3;
}

/* .footer-column {
    width: 50%;
} */
.footer-main-column {
    display: flex;
    justify-content: space-between;
    padding: 90px 0;
}

.social-links a {
    margin-right: 25px;
}

.footer-column-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.footer-column-title-description {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
    margin-top: 20px;
    max-width: 395px;
}

.contact>input,
textarea {
    display: block;
    margin-top: 24px;
    color: #757575;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: #FFF;
    width: 100%;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.contact textarea {
    resize: none;
    margin-bottom: 24px;

}

.footer-column .btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    padding: 15px 35px;
    cursor: pointer;
}

::placeholder {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;

}

/* Responsive part  */

@media only screen and (max-width:576px) {
    .download-btn {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .header {
        background-image: none;
    }

    .banner {
        flex-direction: column;
        padding: 0 20px;
        text-align: center;
    }

    .profile-pic {
        width: 50%;
    }

    .main-nav,
    .about-info-container,
    .footer-main-column,
    .summary-container,
    .skill-container {
        flex-direction: column;
        gap: 25px;
    }

    .contact>input,
    textarea {
        width: 92%;
    }

    .footer-column {
        width: 100%;
    }

    .footer-main-column {
        text-align: center;
    }

    .description-item {
        padding: 90px 15px;
    }

}

@media only screen and (min-width: 576px) and (max-width: 992px) {

    .footer-main-column,
    .summary-container,
    .skill-container {
        flex-direction: column;
        gap: 25px;
    }

    .contact>input,
    textarea {
        width: 92%;
    }

    .footer-column {
        width: 100%;
    }

    .footer-main-column {
        text-align: center;
    }

    .footer-column-title-description {
        margin: 0 auto;
    }

    .description-item {
        padding: 90px 15px;

    }

    .about-info-container {
        flex-direction: column;
    }

    .download-btn {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .header {
        background-image: none;
    }

    .banner {
        flex-direction: column;
        padding: 0 20px;
        text-align: center;
    }

    .profile-pic {
        width: 50%;
    }
}